 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
    color: #CBE4DE;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(245, 239, 231);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
    margin-top: 50px;
}
.left {
	position: initial;
	background-color: #0E8388;
	padding: 20px;

}
.right {
	position: initial;
	background-color: #2E4F4F;
	padding: 20px;

}
.image img{
    margin-left: 50px;
    margin-bottom: 30px;
    border-radius: 50%;
}
.Contact {
    margin-bottom: 30px;
    margin-left: 20px;

}
.Contact p {
    margin: 10px;
}
.Skills li, .Language li, .Hobbies li {
    margin: 6px;
    margin-left: 15px;
}

.Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
    margin-left: 30px;
    
}
.name, .title {
    text-align: center;
    text-transform:uppercase;
}
.Summary p {
    text-indent: 30px
}
p, li {
    line-height: 20px;
    padding-top: 5px;
    margin-left: 20px;
}
.h2 {
	background-color: rgb(4, 96, 150);
}
